* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #E8EAEE;
    display: flex;
    justify-content: center;
}
main {
    width: 700px;
    background-color: white;
    border-radius: 20px;
    margin: 40px 0;
}
.add-form {
    padding: 24px;
    display: flex;
    gap: 10px;
}
.add-name {
    width: 100%;
    padding: 24px;
    background-color:  #F2F4F8;
    border-radius: 12px;
    font-size: 20px;
    border: none;
    outline: none;
}
.submit-btn {
    padding: 24px 12px;
    background-color: black;
    font-size: 24px;
    color: white;
    border-radius: 12px;
}
.products-wrapper {
    padding: 24px;
    padding-right: 0;
}
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 0;
    border-radius: 8px 0 0 8px;
}
.product:hover {
    background-color: #E8EAEE;
    transition: 1s;
}
.product-name {
    font-size: 18px;
}
.product-actions {
    padding-right: 24px;
}
button {
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #F2F4F8;
}